.customSize{
    width: 350px;
    padding: 20px;
    /* height: 350px; */
}

.linea-bianca{
    height: 2px;
    background-color: white;
    margin: 5px 0;
    width: 100%;
}

/* Overlay che copre tutto lo schermo */
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8) url('/assets/nathan-dumlao-87r__24oABU-unsplash.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Spinner animato */
  .spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #ff0000;  /* Colore dello spinner */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  /* Animazione per far girare lo spinner */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


