/* Overlay per il menu mobile */

/* .overlay {
    position: fixed;
    width: 100vw;
    right: 0px;
    left: 0px; */
    /* top: 91px; */
    /* background-color: rgb(0, 0, 0); Sfondo semi-trasparente per dare l'effetto overlay */
    /* z-index: 9999; Sovrascrive altri elementi sulla pagina */
    /* display: none;
    justify-content: center;
    align-items: center;
    pointer-events: auto; */
/* } */

/* .overlay .customBorder {
    transition: transform 0.3s ease;
} */

/* .overlay.open .customBorder {
    display: flex;
} */

.customBorder:hover{
    border: 2px solid rgb(255, 255, 255);
}

.backgroud-gradient{
    background: rgb(137,117,167);
    background: linear-gradient(90deg, rgba(20, 0, 79,1) 0%, rgba(21,0,255,1) 100%);
}

.animated-underline-logout{
    position: relative;
    text-decoration: none;
}

.animated-underline-logout::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 10%;
    bottom: 1%;
    left: 0;
    background-color: rgb(220, 53, 69);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.animated-underline-logout:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
