<div class="bg-custom p-1 d-flex flex-column" id="navbar">
    
    <div class="bg-custom d-flex flex-row p-2 align-items-center justify-content-between navbar">


        <div class="d-flex flex-row gap-3">
            <div class="d-flex align-items-center">
                <button class="bg-transparent border-0" (click)="goToHome()">
                    <span style="font-family: 'noisy';font-size: 350%;"
                        class="text-white animated-underline d-flex align-items-center customHeight">V & I</span>
                </button>
            </div>
        </div>

        <div class="d-none d-xxl-flex align-items-center p-2 gap-4">
            <div *ngIf="isSuperAdmin" class="d-flex align-items-center">
                <button class="bg-transparent border-0" (click)="goToInsertProduct()"><span
                        style="font-family: 'noisy';font-size: 350%;"
                        class="text-white animated-underline customHeight d-flex align-items-center">Inserisci</span></button>
            </div>
            <div class="d-flex align-items-center">
                <button class="bg-transparent border-0" (click)="goToHome()"><span
                        style="font-family: 'noisy';font-size: 350%;"
                        class="text-white animated-underline customHeight d-flex align-items-center">Prodotti</span></button>
            </div>
            <div>
                <button class="bg-transparent border-0" (click)="goToCartShop()">
                    <img src="../../../assets/shopping-cart.png" alt="" class="w-75">
                </button>
            </div>
            <div class="fs-4">
                <span class="text-white font-custom">{{userName}}</span>
            </div>
            <div>
                <button class="bg-transparent border-0" (click)="openDiv()">
                    <img src="../../../assets/user.png" alt="" class="w-75">
                </button>
            </div>
        </div>


        <!-- Per Dispositivi Mobile -->

        <div class="d-flex d-xxl-none justify-content-end align-items-center p-2">
            <div class=" d-flex justify-content-center align-items-center">
                <div>
                    <button class="bg-transparent border-0" (click)="goToCartShop()">
                        <img src="../../../assets/shopping-cart.png" alt="" class="w-75">
                    </button>
                </div>
                <button class="bg-transparent border-0" (click)="openDiv()"><img src="../../../assets/hamburger.png"
                        class="customHamburgerMenu w-75 h-75"></button>
            </div>
        </div>
    </div>


    <!-- Div apertura -->

    <div class="bg-custom d-flex flex-column overlay" *ngIf="isOpenDiv" (click)="closeOverlay($event)">
        <!-- <div class="d-flex justify-content-center align-items-center p-2 customBorder">
            <a href="/cartShop" style="font-family: 'noisy';font-size: 250%;"
                class="text-decoration-none text-white customHeight d-flex align-items-center animated-underline">
                Carrello
            </a>
        </div> -->
        <div class="customBorder w-100" (click)="$event.stopPropagation()">
            <button (click)="goToHome()"
                class="w-100 border-0 bg-transparent customHeight text-white d-flex justify-content-center align-items-center">
                <h1
                    class="font-custom text-white animated-underline fs-1 d-flex justify-content-center align-items-center m-0">
                    <span class="font-custom">Prodotti</span>
                </h1>
            </button>
        </div>
        <div class="customBorder w-100">
            <button (click)="goToMyProfile()"
                class="w-100 border-0 bg-transparent customHeight text-white d-flex justify-content-center align-items-center">
                <h1
                    class="font-custom text-white animated-underline fs-1 d-flex justify-content-center align-items-center m-0">
                    <span class="font-custom">Profilo</span>
                </h1>
            </button>
        </div>
        <div class="customBorder w-100">
            <button (click)="goToMaps()"
                class="w-100 border-0 bg-transparent customHeight text-white d-flex justify-content-center align-items-center">
                <h1
                    class="font-custom text-white animated-underline fs-1 d-flex justify-content-center align-items-center m-0">
                    <span class="font-custom">Dove siamo</span>
                </h1>
            </button>
        </div>
        <div class="customBorder w-100">
            <button (click)="goToSettings()"
                class="w-100 border-0 bg-transparent customHeight text-white d-flex justify-content-center align-items-center">
                <h1
                    class="font-custom text-white animated-underline fs-1 d-flex justify-content-center align-items-center m-0">
                    <span class="font-custom">Impostazioni</span>
                </h1>
            </button>
        </div>
        <div class="customBorder w-100">
            <button (click)="logout()"
            class="w-100 border-0 bg-transparent customHeight text-white d-flex justify-content-center align-items-center">
            <h1
                class="font-custom text-danger animated-underline-logout fs-1 d-flex justify-content-center align-items-center m-0">
                <span class="font-custom">Esci</span>
            </h1>
        </button>
        </div>
    </div>
    <!-- Spinner di caricamento (mostrato quando isLoading è true) -->
    <div *ngIf="isLoading" class="spinner-overlay">
        <div class="spinner"></div>
    </div>
</div>