.animated-underline{
    position: relative;
    text-decoration: none;
}

.animated-underline::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4%;
    bottom: 10%;
    left: 0;
    background-color: #ff0000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.animated-underline:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.customHamburgerMenu{
    width: 100%;
}

.customBorder:hover{
    border: 2px solid red;
}

.customHeight{
    height: 64px;
}