/* .animated-underline{
    position: relative;
    text-decoration: none;
}

.animated-underline::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4%;
    bottom: 10%;
    left: 0;
    background-color: #ff0000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.animated-underline:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
} */


/* Overlay per il menu mobile */

.navbar {
    position: fixed; /* La navbar deve essere fissa in cima alla pagina */
    height: 10%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10001; /* Deve essere sopra l'overlay */
    /* background-color: rgb(0, 0, 0); Sfondo semi-trasparente per la navbar */
    padding: 10px; /* Esegui eventuali modifiche per il layout della navbar */
}

.overlay {
    position: fixed;
    width: 100vw;
    right: 0px;
    left: 0px;
    top: 91px;
    /* background-color: rgb(0, 0, 0); Sfondo semi-trasparente per dare l'effetto overlay */
    z-index: 9999; /* Sovrascrive altri elementi sulla pagina */
    display: none;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
}

.overlay .customBorder {
    transition: transform 0.3s ease;
}

.overlay.open .customBorder {
    display: flex;
}

.customHamburgerMenu{
    width: 100%;
    cursor: pointer;
}

.customHamburgerMenu:hover {
    opacity: 0.8;
}

.customBorder:hover{
    border: 2px solid red;
}

.customHeight{
    height: 64px;
}

/* Overlay che copre tutto lo schermo */
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(21, 0, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
