<div class="container-fluid p-0 m-0 h-100 d-flex flex-column gap-5">
    <div>
        <app-navbar></app-navbar>
    </div>

    <div class="container w-75">
        <a href="/home" class="fs-4 text-black">
            <img src="../../assets/left-arrow-black.png" alt="left-arrow-black">
            <span class="font-custom">Indietro</span>
        </a>
    </div>

    <div class="bg-black container w-75 rounded d-flex flex-column gap-3 p-3">
        <div class="d-flex flex-column gap-3">
            <div class="w-100 border-bottom">
                <a href="/users" class="fs-4 text-white w-100 d-flex flex-row justify-content-between align-items-center pb-3" >
                    <span class="font-custom">Utenti</span>
                    <img src="../../assets/right-arrow.png" alt="right-arrow" >
                </a>
            </div>
            <div class="w-100 border-bottom">
                <a href="/my-profile" class="fs-4 text-white w-100 d-flex flex-row justify-content-between align-items-center pb-3" >
                    <span class="font-custom">Profilo</span>
                    <img src="../../assets/right-arrow.png" alt="right-arrow" >
                </a>
            </div>
            <div class="w-100 border-bottom">
                <a href="/ticket" class="fs-4 text-white w-100 d-flex flex-row justify-content-between align-items-center pb-3" >
                    <span class="font-custom">Invia Ticket</span>
                    <img src="../../assets/right-arrow.png" alt="right-arrow" >
                </a>
            </div>
            <div class="w-100 border-bottom">
                <button class="fs-4 bg-transparent border-0 w-100 d-flex flex-row justify-content-between align-items-center p-0 pb-3" >
                    <span class="font-custom text-danger text-decoration-underline">Esci</span>
                    <img src="../../assets/right-arrow.png" alt="right-arrow" >
                </button>
            </div>
        </div>
    </div>
</div>
