<div class="backGroundImage1 d-flex align-items-center">
    <div class="container d-flex justify-content-evenly align-items-center h-50 flex-column gap-5 ">
        <div class="w-100 d-flex justify-content-center">
            <span style="font-family: 'noisy';font-size: 12vw;" class="text-white animated-underline d-flex align-items-center p-4">PlayStation</span>
        </div>
        <div>
            <span style="font-family: 'noisy';font-size: 7.5vw;" class="text-danger animated-underline d-flex align-items-center m-3">€200</span>
        </div>
        <div >
            <button class="px-4 py-3 border border-2 border-dark rounded bg-black"><span style="font-family: 'noisy';font-size: 2vw;" class="text-white animated-underline h-100 d-flex align-items-center">Vedi Prodotto</span></button>
        </div>
    </div>
</div>
<div class="container-fluid p-0 ">
    <div class="container d-flex justify-content-center flex-column align-items-center p-5 gap-4">
        <div class="rounded d-flex flex-column customHover w-75">
            <button class="border-0 bg-transparent d-flex gap-5 p-5 flex-column justify-content-center align-items-center">
                <img src="../../../assets/Playstation_logo.svg.png" alt="">
                <div class="d-flex justify-content-center align-items-center"> 
                    <span style="font-family: 'noisy';font-size: 250%;" class="text-dark animated-underline h-100 d-flex align-items-center">
                        PlayStation
                    </span>
                </div>
            </button>
        </div>
        <div class="rounded d-flex flex-column customHover w-75">
            <button class="border-0 bg-transparent d-flex gap-5 p-5 flex-column justify-content-center align-items-center">
                <img src="../../../assets/Xbox_one_logo.svg.png" alt="">
                <div class="d-flex justify-content-center align-items-center"> 
                    <span style="font-family: 'noisy';font-size: 250%;" class="text-dark animated-underline h-100 d-flex align-items-center">
                        Xbox
                    </span>
                </div>
            </button>
        </div>
        <div class="rounded d-flex flex-column w-75 customHover">
            <button class="border-0 w-100 p-5 bg-transparent d-flex gap-5 flex-column justify-content-center align-items-center">
                <img src="../../../assets/640px-Nintendo_switch_logo 1.png" alt="">
                <div class="d-flex justify-content-center align-items-center"> 
                    <span style="font-family: 'noisy';font-size: 250%;" class="text-dark animated-underline h-100 d-flex align-items-center">
                        Nintendo
                    </span>
                </div>
            </button>
        </div>
        <div class="rounded d-flex flex-column w-75 rounded customHover">
            <button class="rounded border-0 w-100 p-5 bg-transparent d-flex gap-5 flex-column justify-content-center align-items-center"> 
                <img src="../../../assets/joyAcc 1.png" class="d-flex justify-content-center align-items-center">
                <div class="d-flex justify-content-center align-items-center"> 
                    <span style="font-family: 'noisy';font-size: 250%;" class="text-dark animated-underline h-100 d-flex align-items-center">
                        Accessori
                    </span>
                </div>
            </button>
        </div>
        <div class="rounded p-5 d-flex flex-column w-75 customHover">
            <button class="border-0 bg-transparent d-flex gap-4 flex-column justify-content-center align-items-center">
                <img src="../../../assets/searchLogo.png" alt="">
                <div class="d-flex justify-content-center align-items-center flex-column gap-2"> 
                    <span style="font-family: 'noisy';font-size: 250%;" class="text-dark animated-underline h-100 d-flex align-items-center">
                        Mostra
                    </span>
                    <span style="font-family: 'noisy';font-size: 250%;" class="text-dark animated-underline h-100 d-flex align-items-center">
                        tutto
                    </span>
                </div>
            </button>
        </div>
    </div>
</div>
