<div class="backGroundImage1">
    <div class="container d-flex justify-content-center align-items-center h-100 flex-column gap-5">
        <div>
            <span style="font-family: 'noisy';font-size: 550%;" class="text-white animated-underline h-100 d-flex align-items-center">PlayStation</span>
        </div>
        <div>
            <span style="font-family: 'noisy';font-size: 450%;" class="text-danger animated-underline h-100 d-flex align-items-center">€200</span>
        </div>
        <div >
            <button class="p-3 border border-2 border-dark rounded bg-black"><span style="font-family: 'noisy';font-size: 150%;" class="text-white animated-underline h-100 d-flex align-items-center">Vedi Prodotto</span></button>
        </div>
    </div>
</div>
<div class="container-fluid p-0 ">
    <div class="container d-flex justify-content-center flex-column align-items-center p-5 gap-4">
        <div class="rounded border border-2 border-dark p-5 d-flex flex-column w-75 customHover">
            <button class="border-0 bg-transparent d-flex gap-5 flex-column justify-content-center align-items-center">
                <img src="../../../assets/Playstation_logo.svg.png" alt="">
                <div class="d-flex justify-content-center align-items-center"> 
                    <span style="font-family: 'noisy';font-size: 250%;" class="text-dark animated-underline h-100 d-flex align-items-center">
                        PlayStation
                    </span>
                </div>
            </button>
        </div>
        <div class="rounded border border-2 border-dark p-5 d-flex flex-column w-75 customHover">
            <button class="border-0 bg-transparent d-flex gap-5 flex-column justify-content-center align-items-center">
                <img src="../../../assets/Xbox_one_logo.svg.png" alt="">
                <div class="d-flex justify-content-center align-items-center"> 
                    <span style="font-family: 'noisy';font-size: 250%;" class="text-dark animated-underline h-100 d-flex align-items-center">
                        Xbox
                    </span>
                </div>
            </button>
        </div>
        <div class="d-flex flex-column">
            <button class="rounded border-2 w-100 p-5 bg-transparent d-flex gap-5 flex-column justify-content-center align-items-center customHover">
                <img src="../../../assets/640px-Nintendo_switch_logo 1.png" alt="">
                <div class="d-flex justify-content-center align-items-center"> 
                    <span style="font-family: 'noisy';font-size: 250%;" class="text-dark animated-underline h-100 d-flex align-items-center">
                        Nintendo
                    </span>
                </div>
            </button>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <button class="rounded border-2 w-100 p-5 bg-transparent d-flex gap-5 flex-column justify-content-center align-items-center customHover"> 
                <img src="../../../assets/joyAcc 1.png" class="d-flex justify-content-center align-items-center">
                <div class="d-flex justify-content-center align-items-center"> 
                    <span style="font-family: 'noisy';font-size: 250%;" class="text-dark animated-underline h-100 d-flex align-items-center">
                        Accessori
                    </span>
                </div>
            </button>
        </div>
        <div class="rounded border border-2 border-dark p-5 d-flex flex-column w-75 customHover">
            <button class="border-0 bg-transparent d-flex gap-4 flex-column justify-content-center align-items-center">
                <img src="../../../assets/searchLogo.png" alt="">
                <div class="d-flex justify-content-center align-items-center flex-column gap-2"> 
                    <span style="font-family: 'noisy';font-size: 250%;" class="text-dark animated-underline h-100 d-flex align-items-center">
                        Mostra
                    </span>
                    <span style="font-family: 'noisy';font-size: 250%;" class="text-dark animated-underline h-100 d-flex align-items-center">
                        tutto
                    </span>
                </div>
            </button>
        </div>
    </div>
</div>
