<div>
    <div class="backGroundImage1 d-flex align-items-center">
        <div class="container d-flex justify-content-evenly align-items-center flex-column gap-3 ">
            <div class="w-100 d-flex justify-content-center">
                <span 
                    class="text-white font-custom fs-1 d-flex align-items-center p-4">PlayStation</span>
            </div>
            <div>
                <span 
                    class="text-danger d-flex align-items-center font-custom fs-1">€200</span>
            </div>
            <div>
                <button class="btn btn-transparent backgroud-gradient fs-4">
                    <span
                        class="text-white animated-underline d-flex align-items-center font-custom">
                        Vedi Prodotto
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0 " id="prodotti">
        <div class="container-fluid d-flex justify-content-center flex-column align-items-center p-5 gap-4">
            <div class="glow-on-hover d-flex flex-column w-75" (click)="goToPlaystationPage()">
                <button
                    class="border-0 bg-transparent d-flex gap-5 p-5 flex-column justify-content-center align-items-center">
                    <img src="../../../assets/Playstation_logo.svg.png" alt="">
                    <div class="d-flex justify-content-center align-items-center fs-1">
                        <span class="text-dark h-100 d-flex align-items-center font-custom">
                            PlayStation
                        </span>
                    </div>
                </button>
            </div>
            <div class="glow-on-hover d-flex flex-column w-75" (click)="goToXboxPage()">
                <button
                    class="border-0 bg-transparent d-flex gap-5 p-5 flex-column justify-content-center align-items-center">
                    <img src="../../../assets/Xbox_one_logo.png" alt="">
                    <div class="d-flex justify-content-center align-items-center fs-1">
                        <span class="text-dark h-100 d-flex align-items-center font-custom">
                            Xbox
                        </span>
                    </div>
                </button>
            </div>
            <div class="glow-on-hover d-flex flex-column w-75" (click)="goToNintendoPage()">
                <button
                    class="border-0 w-100 p-5 bg-transparent d-flex gap-5 flex-column justify-content-center align-items-center">
                    <img src="../../../assets/640px-Nintendo_switch_logo 1.png" alt="">
                    <div class="d-flex justify-content-center align-items-center fs-1">
                        <span class="text-dark h-100 d-flex align-items-center font-custom">
                            Nintendo
                        </span>
                    </div>
                </button>
            </div>
            <div class="glow-on-hover d-flex flex-column w-75" (click)="goToAccessoriPage()">
                <button
                    class="rounded border-0 w-100 p-5 bg-transparent d-flex gap-5 flex-column justify-content-center align-items-center">
                    <img src="../../../assets/joyAcc 1.png" class="d-flex justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center fs-1">
                        <span class="text-dark font-custom h-100 d-flex align-items-center">
                            Accessori
                        </span>
                    </div>
                </button>
            </div>
            <div class="glow-on-hover d-flex flex-column w-75" (click)="goToAllProducts()">
                <button
                    class="rounded border-0 w-100 p-5 bg-transparent d-flex gap-5 flex-column justify-content-center align-items-center">
                    <img src="../../../assets/searchLogo.png" class="d-flex justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center flex-column gap-2 fs-1">
                        <span class="text-dark h-100 d-flex align-items-center font-custom">
                            Mostra tutto
                        </span>
                        <!-- <span class="text-dark h-100 d-flex align-items-center font-custom">
                            tutto
                        </span> -->
                    </div>
                </button>
            </div>
        </div>
    </div>

    <!-- Spinner di caricamento (mostrato quando isLoading è true) -->
    <div *ngIf="isLoading" class="spinner-overlay">
        <div class="spinner"></div>
    </div>
</div>