<div class="container-fluid p-0 m-0 d-flex flex-column gap-5">
    <div>
        <app-navbar></app-navbar>
    </div>
    <div class="container bg-black w-50 rounded d-flex flex-column gap-4 p-3">
        <div class="fs-1 d-flex justify-content-center w-100 h-100 align-items-center p-3">
            <span class="font-custom text-white w-100 h-100 text-center" >Invia Ticket</span>
        </div>
        <div class="d-flex justify-content-center fs-5">
            <textarea rows="13" cols="50" name="ticket" id="ticket" placeholder="Descrivi segnalazione..." class="font-custom"></textarea>

        </div>
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary fs-5">
                <span class="font-custom">
                    Invia ticket
                </span>
            </button>
        </div>
    </div>
</div>
