<div class="bg-black container-fluid">
    <div class="container-fluid d-flex flex-row justify-content-between p-3">
        <div class="w-25">
            <span style="font-family: 'noisy';font-size: 250%;" class="text-white animated-underline h-100 d-flex align-items-center">
                V & I
            </span>
        </div>
        <div class="d-flex justify-content-center align-items-center w-25">
            <img src="../../../assets/Instagram_logo_2022.svg 1.png" alt="">
            <img src="../../../assets/tiktok-logo 1 (1).png" alt="">
        </div>
        <div class="d-flex flex-column w-25">
            <span style="font-family: 'noisy';font-size: 100%;" class="text-white animated-underline h-100 d-flex align-items-center justify-content-end">
                Designed By:
            </span>
            <span style="font-family: 'noisy';font-size: 150%;" class="text-white animated-underline h-100 d-flex align-items-center justify-content-end">
                Andrew Izzo
            </span>
            <span style="font-family: 'noisy';font-size: 100%;" class="text-white animated-underline h-100 d-flex align-items-center justify-content-end">
                All right reserved 
            </span>
        </div>
    </div>
</div>
