<div class="bg-black container-fluid">
    <div class="container-fluid d-flex flex-row justify-content-between p-3">
        <div class="w-25">
            <span style="font-family: 'noisy';font-size: 1.8vw;" class="text-white animated-underline h-100 d-flex align-items-center">
                V & I
            </span>
        </div>
        <!-- <div class="d-flex justify-content-center align-items-center w-25">
            <img src="../../../assets/Instagram_logo_2022.svg 1.png" alt="">
            <img src="../../../assets/tiktok-logo 1 (1).png" alt="">
        </div> -->
        <div class="d-flex flex-column w-25 gap-2">
            <span style="font-family: 'noisy';font-size: 0.6vw;" class="text-white animated-underline h-100 d-flex align-items-center justify-content-start">
                Designed By:
            </span>
            <span style="font-family: 'noisy';font-size: 1vw;" class="text-white animated-underline h-100 d-flex align-items-center justify-content-start">
                Andrew Izzo
            </span>
            <span style="font-family: 'noisy';font-size: 0.6vw;" class="text-white animated-underline h-100 d-flex align-items-center justify-content-start">
                All right reserved 
            </span>
        </div>
        <div>
            <button class="bg-transparent border-0 h-50" (click)="scrollToSection('navbar')"><img src="../../assets/up-arrow.png" class="w-100 imgFoot"></button>
        </div>
    </div>
</div>
