/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'noisy';
    src: url('/assets/fonts/NoisyWalk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: large;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.backGroundImage1{
    background-image: url('../src/assets/kerde-severin-NVD_32BBZFE-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.font-custom{
    font-family: 'noisy';
    font-size: 100%;
}

.bg-custom{
    background-color: rgba(46, 46, 46, 0.524) ;
}

.bg-image{
    background-image: url('./assets/nathan-dumlao-87r__24oABU-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.animated-underline{
    position: relative;
    text-decoration: none;
}

.animated-underline::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 10%;
    bottom: 1%;
    left: 0;
    background-color: #ff0000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.animated-underline:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}