<div class="container-fluid p-0 m-0 gap-4 d-flex flex-column">
    <div>
        <app-navbar></app-navbar>
    </div>
    <div class="container border border-4 border-dark rounded d-flex gap-2 flex-column">
        <div class="d-flex flex-row border border-1 border-dark rounded m-2">
            <div class="">
                <div>
                    <img src="../../assets/imageCard/playstatioPortal.png" class="rounded">
                </div>
            </div>
            <div class="">
                <div class="p-2">
                    <span style="font-family: 'noisy';font-size: 250%;">
                        nome
                    </span>
                </div>
                <div>
                    <span style="font-family: 'noisy';font-size: 250%;">
                        condizione
                    </span>
                </div>
            </div>
            <div>
                <div class="d-flex justify-content-center align-items-center">
                    <span style="font-family: 'noisy';font-size: 250%;">prezzo</span>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row border border-1 border-dark rounded m-2">
            <div class="">
                <div>
                    <img src="../../assets/imageCard/playstatioPortal.png" class="rounded">
                </div>
            </div>
            <div class="">
                <div class="p-2">
                    <span style="font-family: 'noisy';font-size: 250%;">
                        nome
                    </span>
                </div>
                <div>
                    <span>
                        condizione
                    </span>
                </div>
            </div>
            <div>
                <div>
                    <span>prezzo</span>
                </div>
            </div>
        </div>
    </div>
</div>