<div class="container-fluid p-0 m-0 d-flex flex-column gap-4">
    <div>
        <app-navbar></app-navbar>
    </div>

    <!-- <div class="container w-75 mt-5 pt-5">
        <a href="/home" class="fs-4 text-black">
            <img src="../../assets/left-arrow-black.png" alt="left-arrow-black">
            <span class="font-custom">Indietro</span>
        </a>
    </div> -->

    <div class="container w-75 d-flex flex-column gap-4">
        <div class="fs-1 text-center d-flex flex-row">
            <div class="mt-5 pt-5">
                <a (click)="goToSetting()" class="fs-4 text-black cursorPointer">
                    <img src="../../assets/left-arrow-black.png" alt="left-arrow-black">
                    <!-- <span class="font-custom">Indietro</span> -->
                </a>
            </div>
            <div class="mt-5 w-100 pt-5 d-flex justify-content-center align-items-center">
                <span class="font-custom text-black">Profilo</span>
            </div>
        </div>
        <div class="bg-black rounded w-100 container p-3">
            <div class="d-flex flex-row justify-content-center align-items-center gap-3 p-3 container">
                <div class="d-flex flex-column w-50">
                    <label for="name" class="w-100 font-custom text-white fs-5">Nome</label>
                    <input type="text" placeholder="Cambia Nome*" class="font-custom" [(ngModel)]="userName" [disabled]="!isDisabled">
                </div>
                <div class="d-flex flex-column w-50">
                    <label for="surname" class="w-100 font-custom text-white fs-5">Cognome</label>
                    <input type="text" placeholder="Cambia Cognome*" class="font-custom" [(ngModel)]="userSurname" [disabled]="!isDisabled" [value]="userSurname">
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center gap-3 p-3">
                <div class="d-flex flex-column w-50">
                    <label for="email" class="w-100 font-custom text-white fs-5">Email</label>
                    <input type="text" placeholder="Cambia Email*" class="font-custom" [(ngModel)]="userEmail" [disabled]="!isDisabled" [value]="userEmail">
                </div>
                <div class="d-flex flex-column w-50">
                    <label for="roles" class="w-100 font-custom text-white fs-5">Ruolo</label>
                    <input type="text" placeholder="Cambia Ruolo*" class="font-custom" [(ngModel)]="userRuolo" [disabled]="true" [value]="userRuolo">
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center gap-3 p-3">
                <div class="d-flex flex-column w-50">
                    <label for="password" class="w-100 font-custom text-white fs-5">Password</label>
                    <a href="/reset-password" class="text-white" [attr.href]="!isDisabled ? null : '/reset-password'">
                        <span class="font-custom">Cambia Password</span>
                    </a>
                </div>
                <div class="d-flex flex-column w-50">
                    <label for="name" class="w-100 font-custom text-white fs-5">Data di Nascita</label>
                    <input type="date" class="font-custom text-black" [disabled]="!isDisabled">
                </div>
            </div>
            <div class="d-flex flex-row justify-content-between w-100 p-3">
                <button class="btn btn-secondary" (click)="modifyUser()">
                    <span class="font-custom">Modifica</span>
                </button>
                <button class="btn btn-success" (click)="openDialog()" [disabled]="!isDisabled">
                    <span class="font-custom">Conferma</span>
                </button>
            </div>
        </div>
    </div>

    <!-- Spinner di caricamento (mostrato quando isLoading è true) -->
    <div *ngIf="isLoading" class="spinner-overlay">
        <div class="spinner"></div>
    </div>
</div>